:root {
    --background-area: rgb(13, 15, 22);
}

#mp_image {
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    display: block;
    border-radius: 10px;
    min-width: 500px;
}

#mp_info {
    margin-top: 2em;
    padding: 1em;
    background-color: var(--background-area);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#mp_header {
    margin-top: 1em;
    color: rgb(140, 170, 212);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: small-caps;
    text-align: center;
}

#official_updates {
    margin-top: 2em;
    padding: 1em;
    background-color: rgb(15, 28, 39);
    border-radius: 10px;
}

.spacer-line {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(39, 45, 63);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    width: 68%;
}

.grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 0.25fr);
    grid-gap: 3em;
    justify-content: center;
    background-color: var(--background-area);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.content_text {
    font-family: "Anek Devanagari", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}

.text_sub1 {
    margin-bottom: 0;
    font-weight: 200;
    opacity: 80%;
}

.text_sub1-1 {
    margin-top: 0;
    font-weight: 500;
}

.content_image1 {
    margin-bottom: 38px;
    margin-top: 38px;
    align-items: center;
}

.content_image1 img {
    width: 50%;
    transition: 0.5s;
}

.content_image1 img:hover {
    width: 53%;
    cursor: pointer;
}

.content_image {
    margin: 0;
    align-items: center;
}

.content_image img {
    width: 40%;
    transition: 0.5s;
}

.content_image img:hover {
    width: 43%;
    cursor: pointer;
}

.hd3 {
    font-family: "Anek Devanagari", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 1em;
}

.weapon_type {
    background-color: rgb(36, 39, 49);
    margin-top: 1em;
    padding: 4px;
    border-radius: 6px;
    font-family: "Anek Devanagari", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    opacity: 60%;
}

.update_ver {
    text-align: center;
    opacity: 50%;
}

@media only screen and (max-width: 900px) {
    .grid {
        grid-template: repeat(1, 1fr) / repeat(1, 0.25fr);
    }
}