:root {
    --blue-color: rgb(31, 114, 204);
}

/* TYPE SELECTOR */

body {
    color: rgb(245, 245, 245);
    background-color: rgb(25, 35, 46);
    font-family: Arial, Helvetica, sans-serif; 
}

p {
    line-height: 2em;
}

br {
    clear:left;
}

footer {
    font-size: small;
    clear:both
}

article {
    column-count: 3;
    column-gap: 35px;
    column-rule: 2px solid rgb(47, 71, 90);
}

/* ID SELECTOR */

#stg44_element {
    background-image: linear-gradient(45deg, rgb(19, 39, 61), rgb(47, 87, 129) 50%, rgb(19, 39, 61));
    border: 2px solid rgb(29, 56, 85);
}

#meta_weapons_section {
    float:left;
    width:450px;
    padding: 1em;
}

#warzone_weapons {
    float: left;
    width: 450px;
    padding-left: 15em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#cod_official {
    float: right;
    width: 450px;
    padding: 1em
}

#meta_weapons_header {
    color: var(--blue-color);
    font-weight: 500;
    font-variant: small-caps;
}

#warzone_weapons_header {
    color: var(--blue-color);
    font-weight: 500;
    font-variant: small-caps;
}

#official_cod {
    color: var(--blue-color);
    font-weight: 500;
    font-variant: small-caps;
}

#body_h2 {
    color: var(--blue-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: small-caps;
}

#soap_image {
    float: left;
    margin-right: 2em;
    margin-bottom: 1.5em;
}

/* CLASS SELECTOR */

/*
.body_header {
    color: rgb(18, 90, 168);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
*/

.box {
    width: 25%;
    text-align: center;
    padding: 0.5em;
    border-radius: 10px;
}

/* RELATIONAL SELECTOR */

section#meta_weapons_section>ol {
    color:rgb(169, 199, 255);
}

section#warzone_weapons>ol {
    color:rgb(169, 199, 255);
}

main strong {
    color:rgb(218, 69, 32);
}

/* DESCENDANT SELECTOR */

section#cod_official a:visited {
    color:rgb(15, 114, 243);
}

section#cod_official a:hover {
    font-size: 115%;
    color:rgb(15, 190, 243);
}

section#attachment_configs_section a:visited {
    color:rgb(15, 114, 243);
}

section#attachment_configs_section a:hover {
    font-size: 115%;
    color:rgb(15, 190, 243);
}